.titleBar {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    margin: 2em;
}

.titleBar > * {
    margin: 5px;
}